* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1200px;
}
.header {
  display: flex;
  height: 112px;
  width: 1200px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.headerLoog {
  width: 240px;
  height: 112px;
}
.headerLoog > img {
  width: 240px;
  height: 112px;
}
.searchBar {
  width: 548px;
  height: 44px;
  border-radius: 24px;
  border-color: blue;
  margin-top: 40px;
  /* border-color: linear-gradient(to right, green, blue); */
}
.searchBar:focus {
  outline: none;
}
.searchBarContainer {
  position: relative;
}
.searchBarContainer > img {
  position: absolute;
  top: 54px;
  right: 20px;
}
.iconContainer {
  height: 112px;
  display: flex;
  align-items: center;
}
.iconContainer > img {
  margin: 20px 22px;
}
.menu {
  width: 1200px;
  overflow: hidden;
}
.menu > li {
  width: 20%; /*20*5=100%*/
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #5778ff;
}
.menu a {
  color: #fff;
}
.submenu > li {
  line-height: 50px;
  background-color: #94a9ff;
}
.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;
}
.menu > li:hover {
  background-color: #94a9ff;
  transition-duration: 0.5s;
}
.menu > li:hover .submenu {
  height: 250px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 14px;
}